{% extends 'base.html' %}

{% load static %}
{% load extras %}

{% block content_body %}

    <div class="row">

        <!-- Profile Info -->
        <div class="col-5">

            <div class="row text-center">
                <div class="col">
                    <form class="p-x-xs" id="fmUploadAvatar" enctype="multipart/form-data">
                        <input type="hidden" name="action" value="avatar"/>
                        <div class="avatar-wrapper">
                            {% with avatar=my_profile.download_avatar %}
                                <img id="profileAvatar" class="profile-pic" src="{{ avatar }}"/>
                                <div class="upload-button {% if not avatar %}empower_background_purple{% else %}opacity-01{% endif %}">
                                    <i class="fa fa-camera" aria-hidden="true"></i>
                                </div>
                                <input class="file-upload" type="file" accept="image/*"/>
                            {% endwith %}
                        </div>
                    </form>
                    <h5 class="empower-color-purple _700 mt-1">{{ user.username }}</h5>
                </div>
            </div>

            <!-- ABOUT -->
            <div class="row text-center mx-1 my-3">
                <div class="col empower-color-blue font-17 _600 text-left">
                    ABOUT
                </div>
                <div class="col text-right">
                    <a onclick="PROFILE.edit_modal($(this));" class="tt" title="Edit"
                        profile_title="{{ my_profile.title|default_if_none:'-' }}"
                        profile_department="{{ my_profile.department|default_if_none:'-' }}"
                        profile_company="{{ my_profile.company|default_if_none:'-' }}"
                        profile_timezone="{{ my_profile.timezone|default_if_none:'-' }}"
                        profile_email="{{ my_profile.user.email|default_if_none:'-' }}"
                        profile_phone="{{ my_profile.phone|default_if_none:'-' }}"
                    >
                        <i class="fa fa-pencil font-14 text-dark"></i>
                    </a>
                </div>
            </div>
            <div class="row mt-1 text-center">
                <div class="col-5 text-right _600">
                    Title
                </div>
                <div class="col-7 text-left text-muted">
                    {{ my_profile.title|default_if_none:'-' }}
                </div>
            </div>

            <div class="row mt-1 text-center">
                <div class="col-5 text-right _600">
                    Department
                </div>
                <div class="col-7 text-left text-muted">
                    {{ my_profile.department|default_if_none:'-' }}
                </div>
            </div>

            <div class="row mt-1 text-center">
                <div class="col-5 text-right _600">
                    Company
                </div>
                <div class="col-7 text-left text-muted">
                    {{ my_profile.company|default_if_none:'-' }}
                </div>
            </div>

            <div class="row mt-1 text-center">
                <div class="col-5 text-right _600">
                    Timezone
                </div>
                <div class="col-7 text-left text-muted">
                    {{ my_profile.timezone|default_if_none:'-' }}
                </div>
            </div>

            <!-- CONTACT -->
            <div class="row text-center mx-1 my-3">
                <div class="col empower-color-blue font-17 _600 text-left">
                    CONTACT
                </div>
            </div>
            <div class="row text-center">
                <div class="col-5 text-right _600">
                    Email
                </div>
                <div class="col-7 text-left text-muted">
                    {{ my_profile.user.email|default_if_none:'-' }}
                </div>
            </div>
            <div class="row mt-1 text-center">
                <div class="col-5 text-right _600">
                    Phone
                </div>
                <div class="col-7 text-left text-muted">
                    {{ my_profile.phone|default_if_none:'-' }}
                </div>
            </div>
            <div class="row mt-1 text-center">
                <div class="col-5 text-right _600">
                    Password
                </div>
                <div class="col-7 text-left">
                    <a class="btn btn-warning btn-xs mt-1" data-toggle="modal" data-target="#profileChangePasswordModal">
                        Change Password
                    </a>
                </div>
            </div>
        </div>

        <!-- Activities -->
        <div class="col-7">
{#            <div class="card">#}
{#                <div class="card-body p-3">#}
{#                    <div class="row">#}
{#                        <div class="col-6">#}
{#                            <p class="empower-color-blue _600 font-13">#}
{#                                Activity#}
{#                            </p>#}
{#                        </div>#}
{#                        <div class="col-3">#}
{#                            <select id="selectProfileAuditTrailsUserCompanies" class="form-control myselect2" onchange="PROFILE.load_audit_trails_data($(this));">#}
{#                                {% for company in user_companies %}#}
{#                                    <option value="{{ company.database }}">{{ company }}</option>#}
{#                                {% endfor %}#}
{#                            </select>#}
{#                        </div>#}
{#                        <div class="col-3 pull-right">#}
{#                            <select id="selectProfileAuditTrailsDataRanges" class="form-control myselect2" onchange="PROFILE.load_audit_trails_data($(this));">#}
{#                                <option value="last_7" selected>Last 7 days</option>#}
{#                                <option value="last_14">Last 14 days</option>#}
{#                                <option value="last_30">Last 30 days</option>#}
{#                                <option value="last_60">Last 60 days</option>#}
{#                                <option value="last_90">Last 90 days</option>#}
{#                                <option value="all">All</option>#}
{#                            </select>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <table id="tableProfileAuditTrails" class="table table-hover table-borderless table-condensed w-100">#}
{#                        <tbody class="font-10"></tbody>#}
{#                    </table>#}
{#                </div>#}
{#            </div>#}

            <div class="row mt-3">
                <div class="col">
                    <a onclick="PROFILE.give_feedback()" class="btn btn-warning btn-block" rating="{{ last_user_feedback_rating }}">
                        Give Feedback
                    </a>
                </div>
                {% if is_owner %}
                    <div class="col">
                        <a id="btnManageAccount" class="btn btn-warning btn-block" onclick="alert('Manage Account')">
                            Manage Account
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>

    <!-- modal -->
    {% include 'profile/modals.html' %}

{% endblock %}


{% block scripts %}

    <script src="{% static 'js/libs/starrr.js' %}"></script>

    <!-- Custom Scripts -->
    <script src="{% static 'js/app/profile.js' %}"></script>

{% endblock %}