{% load static %}
<div class="modal fade" id="showFileContentModal" tabindex="-1" role="dialog" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog modal-xxlg" role="document">
        <div class="modal-content" style="max-height: 95vh;">
            <div class="modal-header empower_background_yellow" style="height: 50px;">
                <h5 class="modal-title">File Content</h5>
            </div>
            <div class="modal-body" id="filecontentModalBody">
            </div>

        </div>
    </div>
</div>
