{% extends 'base.html' %}

{% load static %}
{% load extras %}

{% block visitors_content %}

    <div class="py-4 text-center w-100">
        <div class="mx-auto w-xxl w-auto-xs">
            <div class="px-3">

                {% if token %}

                    <!-- RESET Password BEGIN -->
                    <div>
                        <h4>Reset Password</h4>
                        <p class="my-3">
                            Please choose a new password to finish signing in
                        </p>
                    </div>

                    <form id="fmResetPassword" autocomplete="off">
                        <input type="hidden" name='token' value='{{ token }}'/>
                        <div class="form-group">
                            <input id="inputNewPassword" name="new_password" type="password" value="" placeholder="New Password" class="form-control">
                        </div>
                        <div class="form-group">
                            <input id="inputConfirmPassword" name="confirm_password" type="password" value="" placeholder="Confirm Password" class="form-control">
                        </div>
                        <div class="row my-4">
                            <div class="col-sm-12">
                                <a id="btnResetPasswordSubmit" class="btn btn-primary btn-block _600 p-x-md" onclick="FORGOT_PASSWORD.reset($(this));">
                                    Confirm
                                </a>
                            </div>
                        </div>
                    </form>
                    <div class="py-4">
                        Return to <a href="{% url 'login' %}" class="text-primary _600">Log in</a>
                    </div>
                    <!-- RESET Password END -->

                {% else %}

                    <!-- FORGOT Password BEGIN -->
                    <div>
                        <h4>Forgot your password?</h4>
                        <p class="my-3">
                            Enter your email below and we will send you instructions on how to change your password.
                        </p>
                    </div>

                    <form id="fmForgotPassword" autocomplete="off">
                        <div class="form-group">
                            <input id="inputEmail" name="email" type="text" placeholder="Email" class="form-control font-12 text-lowercase">
                        </div>
                        <div class="row my-4">
                            <div class="col-sm-12">
                                <a id="btnForgotPasswordSubmit" class="btn btn-primary btn-block _600 p-x-md" onclick="FORGOT_PASSWORD.send($(this));">
                                    Send
                                </a>
                            </div>
                        </div>
                    </form>
                    <div class="py-4">
                        Return to <a href="{% url 'login' %}" class="text-primary _600">Log in</a>
                    </div>
                    <!-- FORGOT Password END -->

                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <!-- Custom Scripts -->
    <script src="{% static 'js/app/password.js' %}"></script>

{% endblock %}