{% extends 'emails/base.html' %}

{% block title %}
    <p>
        Dear {{ my_profile.get_full_name|upper }},
    </p>
{% endblock %}

{% block email_content %}

    {% with token=my_profile.token %}
        <p>
            Your EmpowerRM user account have been succesfully created,
            please click on the link below to choose a password and activate your account.
        </p>

        <p>
            <a href="http://127.0.0.1:8000/users/activation?token={{ token }}">Activate Account</a>
        </p>

        <p>If the link doesn't work, please copy and paste this into your browser:</p>

        <a href="http://127.0.0.1:8000/users/activation?token={{ token }}">
            http://127.0.0.1:8000/users/activation?token={{ token }}
        </a>

        <p>
            If you did not make this request, please call us at 1-954-671-7565, or email info@mdhinsight.com.
        </p>

        <p>
            We are happy you are part of our team now. <br/>
            Thank you for use EmpowerRM.
        </p>

    {% endwith %}
{% endblock %}
