{% extends 'emails/base.html' %}

{% block title %}
    <p>
        Dear {{ my_profile.get_full_name|upper }},
    </p>
{% endblock %}

{% block email_content %}

    {% with token=my_profile.token %}
        <p>
            To reset your password, please click on the link below.
        </p>

        <p>
            <a href="{{ request.scheme }}://{{ request.get_host }}/forgot_password?token={{ token }}">Reset my password</a>
        </p>

        <p>If the link doesn't work, please copy and paste this into your browser:</p>

        <a href="{{ request.scheme }}://{{ request.get_host }}/forgot_password?token={{ token }}">
            {{ request.scheme }}://{{ request.get_host }}/forgot_password?token={{ token }}
        </a>

        <p>
            If you did not make this request, please call us at 1-954-671-7565, or email info@mdhinsight.com.
        </p>

        <p>
            Thank you for use EmpowerRM.
        </p>

    {% endwith %}
{% endblock %}
