{% load static %}
<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/libs/font-awesome.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/libs/bootstrap.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/app/app.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/app/style.css' %}" type="text/css" />
</head>
<body class="h-100">

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-4"></div>
        <div class="col-5 text-center">
            <div class="card">
                <div class="card-body p-5">
                    <i class="fa fa-exclamation-triangle empower-color-purple" style="font-size: 7em!important;"></i>
                    <div class="row">
                        <div class="col text-justify text-dark font-17 m-3">
                            <p>We're sorry. You haven't been assigned to a company or your companies data hasn't been loaded yet.</p>
                            <p>Please contact your EmpowerRM administrator for further assistance.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 text-center">
                            <a class="btn btn-warning w-50" href="{% url 'logout' %}">
                                <span class="font-12 _600">Logout</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 col-sm-offset-1"></div>
    </div>
</div>

</body>
</html>