{% extends 'base.html' %}

{% load static %}
{% load extras %}
{% load humanize %}

{% block content_header_left %}
    {{ header_title }}
{% endblock %}

{% block content_body %}

    <div class="container">
        <div class="row">

            <!-- 1st Column -->
            <div class="col">

                <!-- Actitivy by Trading Partner -->
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body p-2">
                                <div class="row">
                                    <div class="col-10">
                                        <p class="empower-color-blue _600 font-13">
                                            Activity by Trading Partner
                                        </p>
                                    </div>
                                    <div class="col pull-right">
                                        <select id="selectRangeActivityByTradingPartner" class="form-control myselect2">
                                            <option value="MTD" selected>MTD</option>
                                            <option value="YTD">YTD</option>
                                            <option value="TW">TW</option>
                                            <option value="LW">LW</option>
                                            <option value="LM">LM</option>
                                        </select>
                                    </div>
                                </div>
                                <div id="divChart_ActivityByTradingPartner" class="text-center" style="width: 100%; height: 300px;"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Processing Totals by DoctType -->
                <div class="row mt-2">
                    <div class="col">
                        <div class="card">
                            <div class="card-body p-2">
                                <p class="empower-color-blue _600 font-13">
                                    Processing Totals by DoctType
                                </p>
                                <div id="divChart_ProcessingTotalsByDocType" class="text-center" style="width: 100%; height: 300px;"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col">
                        <!-- Current MTD Throughput -->
                        <div class="card">
                            <div class="card-body p-2">
                                <p class="empower-color-blue _600 font-12">
                                    Current MTD Throughput
                                </p>
                                <div id="divChart_CurrentMTDThroughput" class="text-center" style="width: 100%; height: 150px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- Forecasted MTD Throughput -->
                        <div class="card">
                            <div class="card-body p-2">
                                <p class="empower-color-blue _600 font-12">
                                    Forecasted MTD Throughput
                                </p>
                                <div id="divChart_ForecastedMTDThroughput" class="text-center" style="width: 100%; height: 150px"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- 2nd Column -->
            <div class="col" style="padding: 0;">

                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body p-2">
                                <p class="empower-color-blue _600 font-13">
                                    Pending Partners
                                </p>
                                <div class="row">
                                    <div class="col text-center _600 font-10 m-2">
                                        <span class="pull-left">AmerisourceBergen</span>
                                        <span class="text-success">in Production</span>
                                        <span class="pull-right text-muted">100%</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-center _600 font-10 m-2">
                                        <span class="pull-left">McKesson</span>
                                        <span class="text-muted">Mapping</span>
                                        <span class="pull-right text-muted">50%</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-center _600 font-10 m-2">
                                        <span class="pull-left">Cardinal</span>
                                        <span class="text-muted">Test Document Sent</span>
                                        <span class="pull-right text-muted">30%</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-center _600 font-10 m-2">
                                        <span class="pull-left">Smith Drug</span>
                                        <span class="text-muted">Initializing</span>
                                        <span class="pull-right text-muted">10%</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col">
                        <div class="card">
                            <div class="card-body p-2">
                                <p class="empower-color-blue _600 font-13">
                                    Exceptions
                                </p>
                                <table class="table table-borderless table-hover table-condensed">
                                    <thead class="bg-light">
                                        <tr class="font-10 text-muted text-uppercase">
                                            <th>Partner</th>
                                            <th class="text-center">Count</th>
                                            <th class="text-center">Age</th>
                                            <th class="text-center">Percentage</th>
                                            <th class="text-center">MTD Total</th>
                                        </tr>
                                    </thead>
                                    <tbody class="font-11 _600">
                                        <tr>
                                            <td>AmeriSourceBergen</td>
                                            <td class="text-center">35</td>
                                            <td class="text-center">3d</td>
                                            <td class="text-center">43%</td>
                                            <td class="text-center">90</td>
                                        </tr>
                                        <tr>
                                            <td>McKesson</td>
                                            <td class="text-center">8126</td>
                                            <td class="text-center">728</td>
                                            <td class="text-center">32%</td>
                                            <td class="text-center">65</td>
                                        </tr>
                                        <tr>
                                            <td>Cardinal</td>
                                            <td class="text-center">8836</td>
                                            <td class="text-center">694</td>
                                            <td class="text-center">28%</td>
                                            <td class="text-center">45</td>
                                        </tr>
                                        <tr>
                                            <td>HD Smith</td>
                                            <td class="text-center">1173</td>
                                            <td class="text-center">645</td>
                                            <td class="text-center">24%</td>
                                            <td class="text-center">3</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col">
                        <div class="card">
                            <div class="card-body p-3" style="height: 300px">
                                <p class="empower-color-blue _600 font-13">
                                    Open Tickets
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}

{% block scripts %}

    <script src="{% static 'js/libs/google.chart.loader.min.js' %}"></script>
    <script src="{% static 'js/app/edi_module/dashboard.js' %}"></script>

    <!-- CHARTS -->
    <script>

        google.charts.load('current', {'packages':['corechart']});
        // ActivityByTradingPartner (Donut)
        google.charts.setOnLoadCallback(EDIDASHBOARD.drawChart_ActivityByTradingPartner);
        // ProcessingTotalsByDocType (Stacked Area)
        google.charts.setOnLoadCallback(EDIDASHBOARD.drawChart_ProcessingTotalsByDocType);
        // Current MTD Throughput (Gauge)
        google.charts.setOnLoadCallback(EDIDASHBOARD.drawChart_CurrentMTDThroughput);
        // Forecasted MTD Throughput (Gauge)
        google.charts.setOnLoadCallback(EDIDASHBOARD.drawChart_ForecastedMTDThroughput);

    </script>


{% endblock %}
