{% extends 'base.html' %}

{% load static %}
{% load extras %}

{% block visitors_content %}

    <div class="py-4 text-center w-100">
        <div class="mx-auto w-xxl w-auto-xs">
            <div class="px-3">

                <div>
                    <h3>Activate Account</h3>
                    <p class="my-3">
                        Please set a password to activate your account
                    </p>
                </div>

                <form id="fmActivateUser" autocomplete="off">
                    {% csrf_token %}
                    <input type="hidden" name='token' value='{{ token }}'/>

                    <div class="form-group">
                        <input id="inputNewUserPassword" name="new_user_password" type="password" value="" placeholder="Password" class="form-control">
                    </div>
                    <div class="form-group">
                        <input id="inputNewUserPasswordConfirm" name="new_user_password_confirm" type="password" value="" placeholder="Confirm Password" class="form-control">
                    </div>
                    <div class="row my-4">
                        <div class="col-sm-12">
                            <a class="btn btn-primary btn-block _600 p-x-md" onclick="USERS.activation()">
                                Confirm
                            </a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <!-- Custom Scripts -->
    <script src="{% static 'js/app/users.js' %}"></script>

{% endblock %}